body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="number"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 150px;
}

.result-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px; /* Изменили значение на 20px */
    margin-bottom: 40px; /* Изменили значение на 40px */
}

.result-container p {
    margin-bottom: 10px;
}

.result-label {
    font-weight: bold;
}

.result-value {
    color: #4CAF50;
    font-size: 18px;
}
